@model Application.Service.ConnectorDetailVM
    @using Application.Service
@{
    ViewBag.Title = "Connector Documents";
}

    <div class="form-horizontal" style="padding: 0px; margin-top: 10px">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">DOCUMENTS applicable to connector @ViewData.Model.Code  </a>

            <form class="form-inline">

                <button onclick="OpenAddExistingModal()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Add Existing</button>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Add New</button>
                <button onclick="RemoveDocuments()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Remove</button>
            </form>

        </nav>
        @CammGrid.SimpleGrid(this, new DocumentListVM(), "ConnectorDocsGrid", "/Connector/GetDocuments", ViewData.Model.Id.ToString())
    </div>



@CammPopup.LinkDocuments(this, "LinkDocumentsPopup", "connectorId", ViewData.Model.Id.ToString())

<script>

    var connectorid = @ViewData.Model.Id;
    var table = "";

    function OpenAddExistingModal() {
        $('#exampleModalCenter').modal('show');
    }

    function LinkDocumentsPopup_HandleDocumentsLinked() {
        ConnectorDocsGrid.refresh();
    }

    function RemoveDocuments() {
        
        var rows = ConnectorDocsGrid.GetSelectedRows();
        if (rows.length === 0)
            return;
        
        var ids = [];
        for (i = 0; i < rows.length; i++) {
            ids.push(rows[i].Id);
        }
               
        $.ajax({
            "url": "RemoveDocuments",
            "data": $.param({ connectorId: connectorid, documentIdList: ids }, true),
            "success": function (result) {
                ConnectorDocsGrid.refresh()
            }
        });              
    }
       
</script>

<style>
    table, th, td {
        border: 1px solid black;
    }

    .form-inline > * {
        margin: 5px 3px;
    }
</style>


